.navbar .navbar-toggler .navbar-toggler-icon {
    fill: black !important;
}

svg:hover {
    fill: #ff8947;
}

nav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #3062b4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


nav a.active {
    background-color: #1900ff;
    color: rgb(255, 0, 0);
}

nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {
        display: none;
    }

    nav a.icon {
        float: right;
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .hide-pc {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    nav.responsive {
        position: relative;
    }

    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


.tooltip.bs-tooltip-bottom .tooltip-inner {
    background:#3162b4 !important;
}

.tooltip .arrow:before {
 border-bottom-color:#3162b4 !important;
 border-top-color:#3162b4 !important;
 }

 .title {
    color: #ff8947 !important;
 }