{% extends "base.html" %}
{% block title %}Inv{% endblock %}
{% block content %}
<style>
  table, td, th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
  }
  th {background-color: orange;}
  input {width: 110px;}
  td {  max-width: 100%; /* ajusta las td al content*/
        white-space: nowrap;}
</style>

<h1>Inventario / Add</h1>
<br> 
<p>Aniada su nuevo producto compa</p>
<form method="POST">  
    <table>
        <!-- row of clumn names -->    
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Sucursal</th>
          <th>Cantidad</th>
          <th>Costo</th>
          <th>Precio</th>
          <th>F. Vencimiento</th>
          <th>Reservado</th>
          <th>codigo barras</th>
        </tr>
        <tr>
            <td>
                <label for="ide"></label>
                <input 
                type="number"
                id="ide"
                name="ide"
                placeholder=""
                />
              </td>
              <td>
                <label for="pname"></label>
                <input 
                type="text"
                id="pname"
                name="pname"
                placeholder=""
                />
            </td>
            <td>
              <label for="sucursal">select s.</label>
              <select name="sucursal" id="sucursal">
                {% for s in sucursales%}
                <option value="{{s.name}}">{{s.name}}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <label for="cant"></label>
              <input 
              type="number"
              id="cant"
              name="cant"
              placeholder=""
            />
            </td>
            <td>
              <label for="cost"></label>
              <input 
              type="number"
              id="cost"
              name="cost"
              placeholder=""
              />
            </td>
            <td>
              <label for="price"></label>
              <input 
              type="number"
              id="price"
              name="price"
              placeholder=""
              />
            </td>
            <td>
              <label for="expiry"></label>
              <input 
              type="date"
              id="expiry"
              name="expiry"
              placeholder=""
              />
            </td>
            <td>
              <label for="reserved"></label>
              <input 
              type="number"
              id="reserved"
              name="reserved"
              placeholder=""
              />
            </td>
            <td>
              <label for="cbarras"></label>
              <input 
              type="number"
              id="cbarras"
              name="cbarras"
              placeholder="888 888 888 888"
              />
            </td>
        </tr>       
    </table>
  <input name="btn-add" value="add product" type="submit"/>
</form>
<br><br>
<a href="/inventario/edit">editar producto</a>
<a href="/inventario/del">borrar producto</a>
{% endblock %}