{% extends "base.html" %}
{% block title %}Inv{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/buttons.css">
    <link rel="stylesheet" href="../static/tables.css">
    <script src="../static/scripts/updateFormBranch.js"></script>
    <script src="../static/scripts/deleteAlert.js"></script>
</head>
<div class="InvisibleDel">
  <h1>Are you sure you want to delete this branch?</h1>
  <a id="yesDelete" class="deleteButton">Yes</a>
  <a id="noDelete" class="cancelButton">No</a>
</div>
<div class="Invisible">
      <form id="updateForm" action="" method="POST">
        <table id="tableUpdate">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Update</th>
          </tr>
          <tr>
            <td id="idUpdate" value="">
            </td>
            <td>
              <label for="nameUpdate"></label>
              <input 
              type="text"
              id="nameUpdate"
              name="nameUpdate"
              placeholder=""
              value=""
              />
            </td>
            <td>
              <input id="updateButton" name="btn-add" value="Update" type="submit"/>
            </td>
          </tr>
        </table>
        <a class="cancelButton" id="cancelButtonUpdate">Cancel</a>
      </form>
</div>
<style>
    html {margin-left: 30px;}
</style>
<style>
    table, td, th {
      border: 1px solid black;
      text-align: center;
      padding: 5px;
    }
    th {background-color: orange;}
    table {margin-bottom: 15px;}
  input {width: 100px;}
  td {    white-space: nowrap;}/*ajusta las td al content*/
 
  </style>
<br>
    <h1>Branches</h1>
    <br> 
    <p>Your branches will be shown here</p>
    <p>Add your new brach here. Name field is mandatory</p>
    <form method="POST">  
        <table>
            <!-- row of clumn names -->    
            <tr>
              <th>Name</th>
              <th>Add/Update</th>
            </tr>
            <tr>
                <td>
                  <label for="name"></label>
                  <input 
                   type="text"
                   id="name"
                   name="name"
                   placeholder=""
                  />
                </td>
                <td>
                    <input name="btn-add" value="add branch" type="submit"/>
                </td>
            </tr>
    <!-- row of clumn names -->  
    {% for branch in subsidiarys.items %}    
    <tr>
        <td>{{ branch.name }}</td>
        <td><a id="{{ branch.id }}" class="updateButton">
            Update
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- pagination of table rows -->
{% for page_num in subsidiarys.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
    {% if page_num %}
        {% if subsidiarys.page == page_num %}
            <a  class="btn btn-info mb-4" href="{{url_for('subsidiary.subsidiary_view', page=page_num)}}">{{page_num}}</a>
        {% else %}
            <a  class="btn btn-outline-info mb-4" href="{{url_for('subsidiary.subsidiary_view', page=page_num)}}">{{page_num}}</a>
        {% endif %}      
    {% else %}
        ...
    {% endif %}
{% endfor %}
<br>
{% endblock %}