{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Welcome to StockIT!</h1>
        </div>
    </div>
    <br><br>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 text-left">
            <p><span style="font-weight: bold;">Our mission:
            <br></span>Our goal is to create an easy to use, scalable inventory management system.<br>
                If you're not paying attention to where your inventory is, how much you have available, re-ordering
                needs,
                inventory financing and so much more, you can easily be wasting your money on products no one wants
                while
                missing opportunities to offer the products your customers are most excited about.</p>
        </div>
    </div>
</div>
{% endblock %}