{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Welcome to stockIT!</h1>
    <br>
    <p>
        Our goal is to create a esay to use, scalable inventory management system.<br>
        If you're not paying attention to where your inventory is, how much you have available, re-ordering needs,
        inventory financing and so much more, you can easily be wasting your money on products no one wants while
        missing opportunities to offer the products your customers are most excited about.
    </p>
{% endblock %}