{% extends "base.html" %}
{% block title %}Inventory{% endblock %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="../static/buttons.css">
  <link rel="stylesheet" href="../static/tables.css">
  <script src="../static/scripts/updateFormInventory.js" async></script>
  <script src="../static/scripts/deleteAlert.js" async></script>
  <script src="../static/scripts/showscanner.js" async></script>
  <script src="../static/scripts/showDescription.js" async></script>
  <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@9.0.0/dist/dbr.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.load('current', { 'packages': ['bar'] });

    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      {% if border_case == False %}
      var data = google.visualization.arrayToDataTable([
        {% for key, value in data.items() %}
    {% if value is string %}
    ['{{ key }}', '{{ value }}'],
      {% else %}
    ['{{ key }}', {{ value }}],
      {% endif %}
    {% endfor %}
      ]);

    var options = {
      title: 'Product stock',
      is3D: true,
      pieStartAngle: 100

    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);

    {% else %}

    var data = google.visualization.arrayToDataTable({{ data| tojson}});

    var options = {
      chart: {
        title: 'Entries and outs'
      }
    };

    var chart = new google.charts.Bar(document.getElementById('piechart_3d'));

    chart.draw(data, google.charts.Bar.convertOptions(options));

    {% endif %}
    }
  </script>
</head>

<style>
  html {
    margin-left: 30px;
  }

  table,
  td,
  th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    width: 100px;
  }

  th {
    background-color: orange;
  }

  table {
    margin-bottom: 15px;
  }

  input {
    width: 100px;
  }

  td {
    white-space: nowrap;
    width: 100px;
  }

  /*ajusta las td al content*/
</style>

<!-- pop-up for product description. needs bootstrap -->
<div id="InvisibleDescription" class="Invisible" id="productDescription">
  <h2>Product Description</h2>
  <p id="productDescriptionText"></p>
  <a class="closeButton" id="closeProductDescription">Close</a>
</div>

<!-- form displayed if user scann qr_barcode -->
<div class="InvisibleBarcode" id="divBarcode">
  <table id="tableBarcode">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Branch</th>
      <th>Barcode</th>
    </tr>
    <tr>
      <td class="tdBarcode" id="nameBarcode">
      </td>
      <td class="tdBarcode" id="quantityBarcode">
      </td>
      <td class="tdBarcode" id="descriptionBarcode" onclick="showDescription(this)">
      <td class="tdBarcode" id="branchBarcode"></td>
      </td>
      <td>
        <img id="qr_barcodeBarcode" src="">
      </td>
    </tr>
    <td>
      <a class="closeButton" id="closeBarcode" onclick="document.querySelector('#divBarcode').setAttribute('class', 'InvisibleBarcode')
                 document.querySelectorAll('.tdBarcode').forEach(function(text) {text.innerHTML = ''} )">
        Close
      </a>
    </td>
  </table>
</div>
<br>
<style>
  #orderby {
    background-color: #3062b4;
    color: white;
  }

  .btn-secondary {
    background-color: #3062b4;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h1>Inventory</h1>
      <br>
      <p>Your stock will be shown here</p>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <!-- form for searching with filters -->
        <form method="POST">
          <input type="text" name="search" id="search" placeholder="Search...">
          <div class="btn-group" role="group">
            <select id="orderby" name="orderby">
              <option disabled="" value="" selected="">Order By:</option>
              <option value="newest">Newest</option>
              <option value="oldest">Older</option>
            </select>
            <input name="btn-srch" value="Search" class="btn btn-secondary" type="submit" />

            <!-- scanner, csv and add  button-->
            <a id="inventory" class="btn btn-secondary" onclick="scannerF(this)">
              Open scanner
            </a>
          </div>
          <div class="table-responsive-lg">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Branch</th>
                  <th scope="col">Description</th>
                  <th scope="col">QR/Barcode</th>
                </tr>
              </thead>
              <tbody>
                <!-- start listing the stock -->
                {% for p in stock %}
                <tr>
                  <td>{{ p['name'] }}</td>
                  <td>{{ p['quantity'] }}</td>
                  <td>{{ p['branch'] }}</td>
                  <td value="{{ p['description'] }}" onclick="showDescription(this)"> Show </td>
                  <td>
                    <img class="qr" id="qrid" src="../static/images/{{p['qr_barcode']}}.{{p['id']}}.png">
                    <div id="myModal" class="modal">

                      <!-- The Close Button -->
                      <span class="close">&times;</span>

                      <!-- Modal Content (The Image) -->
                      <img class="modal-content" id="img01">

                      <!-- Modal Caption (Image Text) -->
                      <div id="caption"></div>
                    </div>
                    <script>
                      var modal = document.getElementById("myModal");
                      var img = document.getElementById("qrid");
                      var images = document.getElementsByClassName("qr");
                      var modalImg = document.getElementById("img01");
                      var captionText = document.getElementById("caption");

                      for (let img of images) {
                        img.onclick = function () {
                          modal.style.display = "block";
                          modalImg.src = this.src;
                          captionText.innerHTML = this.alt;
                        }
                      }

                      var span = document.getElementsByClassName("close")[0];

                      span.onclick = function () {
                        modal.style.display = "none";
                      }
                    </script>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="piechart_3d" style="width: 600px; height: 300px;"></div>
    </div>
  </div>
</div>
<!-- Google Pie chart -->


{% endblock %}