{% extends "base.html" %}
{% block title %}Inv{% endblock %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="../static/buttons.css">
  <link rel="stylesheet" href="../static/tables.css">
  <script src="../static/scripts/updateFormInventory.js" async></script>
  <script src="../static/scripts/deleteAlert.js" async></script>
  <script src="../static/scripts/showscanner.js" async></script>
  <script src="../static/scripts/showDescription.js" async></script>
  <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@9.0.0/dist/dbr.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
          {% for key, value in data.items() %}
              {% if value is string %}
                  ['{{ key }}', '{{ value }}'],
              {% else %}
                  ['{{ key }}', {{ value }}],
              {% endif %}
          {% endfor %}
      ]);

      var options = {
        title: 'My Daily Activities',
        is3D: true,
        //pieHole: 0.5
        pieStartAngle: 100
        /*slices: {  
          2: {offset: 0.2},
          3: {offset: 0.3}
        }*/
        /*slices: {
          1: { color: 'transparent' }
        }*/
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
      chart.draw(data, options);
    }
  </script>
</head>

<div style="margin: 10px 0 0 10px;width: 1000px">
  <h3>Python Flask Show Data on Google Pie Chart</h3>
  <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
</div>

<!-- pop-up for product description. needs bootstrap --> 
<div id="InvisibleDescription" class="Invisible" id="productDescription">
  <h2>Product Description</h2>

  <p id="productDescriptionText"></p>

  <a class="closeButton" id="closeProductDescription">Close</a>
</div>

<!-- form displayed if user scann qr_barcode -->
<div class="InvisibleBarcode" id="divBarcode">
  
  <table id="tableBarcode">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Branch</th>
      <th>Barcode</th>
    </tr>
    <tr>
      <td class="tdBarcode" id="nameBarcode">
      </td>
      <td class="tdBarcode" id="quantityBarcode">
      </td>
      <td class="tdBarcode" id="descriptionBarcode" onclick="showDescription(this)">
      <td class="tdBarcode" id="branchBarcode"></td>
      </td>
      <td>
        <img id="qr_barcodeBarcode" src="">
      </td>
    </tr>
    <td>
      <a class="closeButton" id="closeBarcode" 
        onclick="document.querySelector('#divBarcode').setAttribute('class', 'InvisibleBarcode')
                 document.querySelectorAll('.tdBarcode').forEach(function(text) {text.innerHTML = ''} )">
        Close
      </a>
    </td>
  </table>
</div>

<style>
  html {
    margin-left: 30px;
  }
</style>
<style>
  table,
  td,
  th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    width: 100px;
  }

  th {
    background-color: orange;
  }

  table {
    margin-bottom: 15px;
  }

  input {
    width: 100px;
  }

  td {
    white-space: nowrap;
    width: 100px;
  }

  /*ajusta las td al content*/
</style>
<br>
<h1>Inventory</h1>
<br>
<p>Your stock will be shown here</p>

<!-- form for searching with filters -->
<form method="POST">
  <input type="text" name="search" id="search" placeholder="Search..">
  <select id="selectBranch" name="selectBranch">
    
    {% for branch in branches %}
      <option>{{ branch }} </option>
    {% endfor %}
      
  </select>
  <input name="btn-srch" value="Search" type="submit" />
  <a id="qr_barcode" class="scannerButton" onclick="scannerF()">
    Open scanner
  </a>
  <a id="csv_v" class="csvButton" onclick="location.href='csv'">
    Import CSV
  </a>

  <!-- table of current stock -->
  <table>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Branch</th>
      <th>Description</th>
      <th>QR/Barcode</th>
    </tr>
    
      <!-- start listing the stock -->
      {% for p in stock %}
      <tr>
        <td>{{ p['name'] }}</td>
        <td>{{ p['quantity'] }}</td>
        <td>{{ p['branch'] }}</td>
        <td value="{{ p['description'] }}" onclick="showDescription(this)"> Show </td>
        <td>
          <img class="qr" id="qrid" src="../static/images/{{p['qr_barcode']}}.{{p['id']}}.png">
          <div id="myModal" class="modal">

            <!-- The Close Button -->
            <span class="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
          </div>
          <script>
            var modal = document.getElementById("myModal");
            var img = document.getElementById("qrid");
            var images = document.getElementsByClassName("qr");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");

            for (let img of images) {
              img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
              }
            } 

            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
              modal.style.display = "none";
            }
          </script>
        </td>
      </tr>
      {% endfor %}
    </table>

    {% endblock %}