{% extends "base.html" %}
{% block title %}Inv{% endblock %}
{% block content %}
<!-- un poco de css para di -->
<style>
    html {margin-left: 30px;}
</style>
<style>
    table, td, th {
      border: 1px solid black;
      text-align: center;
      padding: 5px;
    }
    th {background-color: orange;}
    input {width: 120px;}
  </style>
<h1>Inventory</h1>
<br>
<p>Your products will be shown here</p>
<table>
    <!-- row of clumn names -->
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Sucursal</th>
        <th>Cantidad</th>
        <th>Costo</th>
        <th>Precio</th>
        <th>F. Vencimiento</th>
        <th>Reservado</th>
        <th>codigo barras</th>
    </tr>  
    {% for p in products %}    
    <tr>
        <td> {{ p.id}} </td>
        <td> {{ p.name}} </td>
        <td> {{ p.sucursal}} </td>
        <td> {{ p.quantity}} </td>
        <td> {{ p.cost}} </td>
        <td> {{ p.price}} </td>
        <td> {{ p.expiry}} </td>
        <td> {{ p.qty_reserved}} </td>
        <td> {{ p.qr_barcode}} </td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="/inventario/add">Add product</a>
<a href="/inventario/edit">Modify product</a>
<a href="/inventario/del">Delete product</a>
{% endblock %}