{% extends "base.html" %}
{% block title %}Inv{% endblock %}
{% block content %}
<!-- un poco de css para di -->
<head>
    <link rel="stylesheet" href="../static/buttons.css">
    <link rel="stylesheet" href="../static/tables.css">
    <script src="../static/scripts/updateFormInventory.js"></script>
    <script src="../static/scripts/deleteAlert.js"></script>
</head>
<div class="InvisibleDel">
</div>
<div class="Invisible">
<!-- we need to implement this template to use query selector in js
  <form id="updateForm" action="" method="POST">
    <table>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Sucursal</th>
        <th>Cantidad</th>
        <th>Costo</th>
        <th>Precio</th>
        <th>F. Vencimiento</th>
        <th>Reservado</th>
        <th>Codigo barras</th>
      </tr>
      <tr>
        <td id="pId" value="">
        </td>
        <td>
          <label for="pname"></label>
          <input 
          type="text"
          id="pName"
          name="pname"
          placeholder=""
          value=""
          />
        </td>
        <td>
          <label for="sucursal">select s.</label>
          <select name="sucursal" id="sucursal">
            <option id="pSubsidiary" value=""></option>
          </select>
        </td>
        <td>
          <label for="cant"></label>
          <input 
            type="number"
            id="pQuant"
            name="cant"
            placeholder=""
            value=""
          />
        </td>
        <td>
          <label for="cost"></label>
          <input 
            type="number"
            id="pCost"
            name="cost"
            placeholder=""
            value=""
          />
        </td>
        <td>
          <label for="price"></label>
          <input 
            type="number"
            id="pPrice"
            name="price"
            placeholder=""
            value=""
          />
        </td>
        <td>
          <label for="expiry"></label>
          <input 
            type="date"
            id="pExpiry"
            name="expiry"
            placeholder=""
            value=""
          />
        </td>
        <td>
          <label for="reserved"></label>
          <input 
            type="number"
            id="pReserved"
            name="reserved"
            placeholder=""
          />
        </td>
        <td>
          <label for="cbarras"></label>
          <input 
            type="number"
            id="pCbar"
            name="cbarras"
            placeholder="888 888 888 888"
            value=""
          />
        </td>
        <td>
          <input id="updateButton" name="btn-add" value="Update" type="submit"/>
        </td>
      </tr>
    </table>
  </form>
-->
</div>
<style>
    html {margin-left: 30px;}
</style>
<style>
    table, td, th {
      border: 1px solid black;
      text-align: center;
      padding: 5px;
    }
    th {background-color: orange;}
    table {margin-bottom: 15px;}
  input {width: 100px;}
  td {    white-space: nowrap;}/*ajusta las td al content*/
 
  </style>
<br>
    <h1>Inventory / Add</h1>
    <br> 
    <p>Your products will be shown here</p>
    <p>Add your new product here. First four fields are mandatory</p>
    <form method="POST">  
        <table>
            <!-- row of clumn names -->    
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Sucursal</th>
              <th>Cantidad</th>
              <th>Costo</th>
              <th>Precio</th>
              <th>F. Vencimiento</th>
              <th>Reservado</th>
              <th>Codigo barras</th>
              <th>Add/Update</th>
              <th>Delete</th>
            </tr>
            <tr>
                <td>
                  {{ nextid }}
                </td>
                <td>
                  <label for="name"></label>
                  <input 
                   type="text"
                   id="name"
                   name="name"
                   placeholder=""
                  />
                </td>
                <td>
                  <label for="branch">select s.</label>
                  <select name="branch" id="branch">
                    {% for s in branches%}
                    <option value="{{s.name}}">{{s.name}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <label for="quantity"></label>
                  <input 
                  type="quantity"
                  id="quantity"
                  name="quantity"
                  placeholder=""
                />
                </td>
                <td>
                  <label for="cost"></label>
                  <input 
                  type="number"
                  id="cost"
                  name="cost"
                  placeholder=""
                  />
                </td>
                <td>
                  <label for="price"></label>
                  <input 
                  type="number"
                  id="price"
                  name="price"
                  placeholder=""
                  />
                </td>
                <td>
                  <label for="expiry"></label>
                  <input 
                  type="date"
                  id="expiry"
                  name="expiry"
                  placeholder=""
                  />
                </td>
                <td>
                  <label for="qty_reserved"></label>
                  <input 
                  type="number"
                  id="qty_reserved"
                  name="qty_reserved"
                  placeholder=""
                  />
                </td>
                <td>
                  <label for="qr_barcode"></label>
                  <input 
                  type="number"
                  id="qr_barcode"
                  name="qr_barcode"
                  placeholder="888 888 888 888"
                  />
                </td>
                <td>
                  <input name="btn-add" value="add product" type="submit"/>
                </td>
                <th></th>
            </tr>
    <!-- row of clumn names -->  
    {% for p in products.items %}    
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.branch }}</td>
        <td>{{ p.quantity }}</td>
        <td>{{ p.cost }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.expiry }}</td>
        <td>{{ p.qty_reserved }}</td>
        <td>{{ p.qr_barcode }}</td>
        <td><a id="{{ p.id }}" class="updateButton">
            Update
            </a>
        </td>
        <td>
            <a id="{{ p.id }}.inventory" class="deleteButton">
            <!--<a class="deleteButton" href=" url_for( 'inventory.Delete', id=p.id) '">-->
            Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- pagination of table rows -->
{% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
    {% if page_num %}
        {% if products.page == page_num %}
            <a  class="btn btn-info mb-4" href="{{url_for('inventory.inv', page=page_num)}}">{{page_num}}</a>
        {% else %}
            <a  class="btn btn-outline-info mb-4" href="{{url_for('inventory.inv', page=page_num)}}">{{page_num}}</a>
        {% endif %}      
    {% else %}
        ...
    {% endif %}
{% endfor %}
<br>
{% endblock %}