{% extends "base.html" %}
{% block title %}Movements{% endblock %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="../static/buttons.css">
  <link rel="stylesheet" href="../static/tables.css">
  <script src="../static/scripts/updateFormInventory.js" async></script>
  <script src="../static/scripts/deleteAlert.js" async></script>
  <script src="../static/scripts/showscanner.js" async></script>
  <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@9.0.0/dist/dbr.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawChart2);
    google.charts.setOnLoadCallback(drawChart3);
    google.charts.setOnLoadCallback(drawChart4);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        {% for key, value in data.items() %}
    {% if value is string %}
    ['{{ key }}', '{{ value }}'],
      {% else %}
    ['{{ key }}', {{ value }}],
      {% endif %}
    {% endfor %}
        ]);

    var options = {
      title: 'Global product entries',
      is3D: true,
      //pieHole: 0.5
      pieStartAngle: 100
      /*slices: {  
        2: {offset: 0.2},
        3: {offset: 0.3}
      }*/
      /*slices: {
        1: { color: 'transparent' }
      }*/
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
      }
    function drawChart2() {
      var data = google.visualization.arrayToDataTable([
        {% for key, value in data2.items() %}
    {% if value is string %}
    ['{{ key }}', '{{ value }}'],
      {% else %}
    ['{{ key }}', {{ value }}],
      {% endif %}
    {% endfor %}
        ]);

    var options = {
      title: 'Global product exits',
      is3D: true,
      //pieHole: 0.5
      pieStartAngle: 100
      /*slices: {  
        2: {offset: 0.2},
        3: {offset: 0.3}
      }*/
      /*slices: {
        1: { color: 'transparent' }
      }*/
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_4d'));
    chart.draw(data, options);
      }
    function drawChart3() {
      var data = google.visualization.arrayToDataTable([
        {% for key, value in data3.items() %}
    {% if value is string %}
    ['{{ key }}', '{{ value }}'],
      {% else %}
    ['{{ key }}', {{ value }}],
      {% endif %}
    {% endfor %}
        ]);

    var options = {
      title: 'Product entries by branch',
      is3D: true,
      //pieHole: 0.5
      pieStartAngle: 100
      /*slices: {  
        2: {offset: 0.2},
        3: {offset: 0.3}
      }*/
      /*slices: {
        1: { color: 'transparent' }
      }*/
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_5d'));
    chart.draw(data, options);
      }
    function drawChart4() {
      var data = google.visualization.arrayToDataTable([
        {% for key, value in data4.items() %}
    {% if value is string %}
    ['{{ key }}', '{{ value }}'],
      {% else %}
    ['{{ key }}', {{ value }}],
      {% endif %}
    {% endfor %}
        ]);

    var options = {
      title: 'Product exits by branch',
      is3D: true,
      //pieHole: 0.5
      pieStartAngle: 100
      /*slices: {  
        2: {offset: 0.2},
        3: {offset: 0.3}
      }*/
      /*slices: {
        1: { color: 'transparent' }
      }*/
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_6d'));
    chart.draw(data, options);
      }
  </script>
</head>

<style>
  #orderby {
    background: #6c747c;
    color: white;
  }

  .container-fluid {
    margin-left: 15px;
  }

  #btn-add {
    width: 60%;
  }

  #orderby {
    background-color: #3062b4;
  }

  .btn-secondary {
    background-color: #3062b4;
  }
</style>

<!-- form displayed if user scann qr_barcode -->
<div class="InvisibleBarcode" id="divBarcode">
  <form method="POST">
  <table id="tableBarcode">
    <tr>
      <th>Product</th>
      <th>Branch</th>
      <th>Quantity</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>
        <select name="name">
          <option id="nameBarcode" value=""></option>
        </select>
      </td>
      <td class="tdBarcode" >
        <select name="branch" id="branchBarcode">
        </select>
      </td>
      <td class="tdBarcode">
        <input type="number" id="quantityBarcode" name="quantity" placeholder="" />
      </td>
      <td>
        <label for="date">current date time</label>
      </td>
      <td>
        <select name="in_out" id="in_out">
          <option value="in">In</option>
          <option value="out">Out</option>
        </select>
      </td>
      <td>
        <input id="btn-add" name="btn-add" class="btn btn-secondary" value="Add" type="submit" />
      </td>
    </form>
    </tr>
      <td>
      <a class="closeButton" id="closeBarcode">
        Close
      </a>
      </td>
  </table>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7">
      <h1>Movements</h1>
      <p>Your movements will be shown here</p>

      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <!-- form for searching with filters -->
        <form method="POST">
          <input type="text" name="search" id="search" placeholder="Search...">
          <div class="btn-group" role="group">
            <select id="orderby" name="orderby">
              <option disabled="" value="" selected="">Order By:</option>
              <option value="newest">Newest</option>
              <option value="oldest">Older</option>
            </select>
            <input name="btn-srch" value="Search" class="btn btn-secondary" type="submit" />

            <!-- scanner, csv and add  button-->
            <a id="csv_v" class="btn btn-secondary" onclick="location.href='csv'">
              Import CSV
            </a>
            <a id="product" class="btn btn-secondary" onclick="scannerF(this)">
              Open scanner
            </a>
          </div>

          <!-- form for adding a product -->
          <form method="POST">
            <div class="table-responsive-lg">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- row for adding a  product -->
                    <td>
                      <label for="name"></label>
                      <select name="name" id="products">
                        {% for prod in products %}
                        <option value="{{prod.name}}">{{prod.name}}</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                      <label for="branch">select s.</label>
                      <select name="branch" id="branch">
                        {% for s in branches%}
                        <option value="{{s.name}}">{{s.name}}</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                      <label for="quantity"></label>
                      <input type="number" id="quantity" name="quantity" placeholder="" />
                    </td>
                    <td>
                      <label for="date">current date time</label>
                    </td>
                    <td>
                      <select name="in_out" id="in_out">
                        <option value="in">In</option>
                        <option value="out">Out</option>
                        <input id="btn-add" name="btn-add" class="btn btn-secondary" value="Add" type="submit" />
                      </select>
                    </td>
                  </tr>
                  <!-- start listing the products -->
                  {% for p in movements %}
                  <tr>
                    <td>{{ p['product'] }}</td>
                    <td>{{ p['branch'] }}</td>
                    <td>{{ p['quantity'] }}</td>
                    <td>{{ p['date'] }}</td>
                    <td>{{ p['in_out'] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
      </div>
    </div>
    <div class="col-md-5">
      <div id="piechart_3d" style="width: 400px; height: 200px;"></div>
      <div id="piechart_4d" style="width: 400px; height: 200px;"></div>
      <div id="piechart_5d" style="width: 400px; height: 200px;"></div>
      <div id="piechart_6d" style="width: 400px; height: 200px;"></div>
    </div>
  </div>
</div>

{% endblock %}